<!DOCTYPE html>
html 
    head 
        title SQL Library Manager - #{ title || error.status }
        link(href="/static/css/styles.css" rel="stylesheet")
    body
        h1 #{ headline }
        block content     