<!DOCTYPE html>
html 
    head
        title SQL Library Manager - #{ title || error.status }   
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet")
        link(href="/static/css/styles.css" rel="stylesheet")
    body
        h1 SQL Library Manager 
        block content          